@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    background-color: black; 
    color: white;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
@layer base {
    h1 {
        @apply: font-weight: 600;
    }
}

